html, body
	height: 100%
	overflow: hidden // to hide scroll bars

#visualisation
	height: 100%
	position: relative
	background-image: url("/api/background/default.png")
	background-repeat: no-repeat
	background-size: 100%
	z-index: 1

#menu
	position: relative
	z-index: 10

.window
	position: absolute
	z-index: 2
	.segment
		padding-left: 0
		padding-right: 0

.titanic
	float: none

#details_box
	color: black
	text-align: left

.dialog
	h2
		color: black
		text-align: left

#bar
	.glyphicon
		font-size: 1.5em

.dropzone
	color: black
	min-height: 100px

#stateSelector
	.menu
		position: inherit
	position: absolute
	padding-top: 42px
	z-index: 3
	overflow-y: auto
	overflow-x: hidden
	.button
		position: absolute
		left: 170px
		top: 300px
		z-index: 4

#bearers
	max-width: 200px
	.grid
		padding-left: 10px
	.row
		padding-top: 7px
		padding-bottom: 7px

#bearerDimmer
	.content
		.grid
			color: black
			.segment
				text-align: left

.noPadding
	padding: 0px !important

.noSidePadding
	padding-left: 0 !important
	padding-right: 0 !important

.greyedOut
	color: grey

.floatRight
	float: right

.emphasised
	padding: 2px
	border: 2px solid blue
	box-shadow: 3px 3px 2px #888
