<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Visualisation</title>

  <script src="/static/js/lib.js"></script>

  <link rel="stylesheet" href="/static/css/bundle.css">
  <link rel="stylesheet" href="/static/css/style.css">

  <script src="/static/js/data.js"></script>
  <script src="/static/js/bearers.js"></script>
  <script src="/static/js/layer.js"></script>
  <script src="/static/js/util.js"></script>
  <script src="/static/js/socket.js"></script>

  <script src="/static/js/visualisation.js"></script>
  <script src="/static/js/nodes.js"></script>
  <script src="/static/js/edges.js"></script>

  <script src="/static/js/interface.js"></script>

  <script src="/static/js/system.js"></script>

  <script src="/static/js/components.js"></script>
</head>

<body>
  <div id="app"></div>

  <div id="visualisation"></div>

  <script src="/static/js/app.js"></script>

  <script src="/static/js/shortcuts.js"></script>
  <script src="/static/js/init.js"></script>


  {% if test %}
    <script src="/static/js/tests.js"></script>
  {% endif %}
</body>

</html>
